html {
  overflow:   auto;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

@font-face {
  font-family: 'super_mario_maker_extendedRg';
  src: url('super-mario-maker-extended-webfont.woff2') format('woff2'),
       url('super-mario-maker-extended-webfont.woff') format('woff');

}

body{
  font-family: super_mario_maker_extendedRg;
  color: black
  
}

h1{
  padding: 20px;
}

li{
  padding: 10px;
}

hr{
  border-top: 2px dashed black;
  border-bottom: none;
}

